html 
  head 
    title Register Here
    script(src="/client.js")
    link(rel = 'stylesheet', type = 'text/css', href = '/styles.css')
    main
      body(id = "body")
        include ../partials/header
        h1 Welcome new user
        br
        button(id = "welcome" onclick= "exisitingUser()") Click Here to Continue